{{>header}}

<body>

    <!-- NAVBAR -->

    <section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-color fixed-top ">
            <a class="navbar-brand" href="#">Blood Bank Managment</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li id="nav-space" class="nav-item active">
                        <a class="nav-link" href="/management-home-page">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="nav-space" class="nav-item">
                        <a class="nav-link" href="/bloodstock-page">Blood Stock</a>
                    </li>
                    <li id="nav-space" class="nav-item">
                        <a class="nav-link" href="#">Donor Request</a>
                    </li>
                    <li id="nav-space" class="nav-item">
                        <a class="nav-link" href="/request-blood-page">Request Blood</a>
                    </li>
                    <li id="nav-space" class="nav-item">
                        <a class="nav-link" href="/management-logout">Logout</a>
                    </li>


                </ul>
            </div>

        </nav>

    </section>
    <section id="donor-requests">
        <h1 class="donor-requests__title">Donor Requests</h1>
        <table class="donor-requests__table">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Weight</th>
                <th>Blood Group</th>
                <th>Ailment</th>
                <th>Phone</th>
                <th>Place</th>
                <th>Date</th>
                <th>Time</th>
                <th>Decision</th>
                <th>Volume(in ml)</th>
            </tr>
            {{#each requests}}
            <form method="POST">
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.bloodGroup}}</td>
                    <td>{{this.haveDisease}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{this.location}}</td>
                    <td>{{this.date}}</td>
                    <td>{{this.time}}</td>
                    <td><button formaction="/accept-request" type="submit" class="btn btn-success">Accept</button>
                        <button formaction="/reject-request" type="submit" class="btn btn-danger">Reject</button></td>
                    <td><input name="volume" type="number" class="form-control" required placeholder="0 if rejected" />
                    </td>
                    <input type="hidden" name="id" value="{{this.id}}" />
                </tr>
            </form>

            {{/each}}
        </table>
    </section>
    <script src="/js/index.js"></script>
</body>

</html>